.container {
  height: 100%;
  min-height: 890px;
}
.content {
  width: 500px;
  height: 430px;
  box-shadow: 0px 0px 5px 0px;
}
.nav {
  height: 60px;
}
.btn {
  width: 50%;
  border: none;
  background: #d8d8d8;
  color: #4a4a4a;
}
.btn:hover {
  text-decoration: none;
  color: #191919;
}
.active_btn {
  border-top: 3px solid #7ed000;
  background-color: unset;
}
.btn:focus {
  outline: 0;
}
.header {
  height: 100px;
  color: #4a4a4a;
}
.form {
  width: 90%;
  text-align: start;
}
.submit {
  background: #7ed000;
  color: white;
}
.error {
  color: red;
}
