.container {
  width: 100%;
  min-height: 810px;
  height: 100%;
}
.contnet {
  min-height: 810px;
  height: 100%;
}
.form {
  width: 90%;
  text-align: start;
}
.submit {
  background: #7ed000;
  color: white;
}
.error {
  color: red;
}
