.container {
  width: 100%;
  min-height: 810px;
  height: 100%;
}
.contnet {
  min-height: 810px;
  height: 100%;
}
.img {
  width: 200px;
}
.form {
  width: 90%;
  text-align: start;
}
.submit {
  background: #7ed000;
  color: white;
}
.itemContainer {
  height: calc(100% - 38px);
  padding-top: 10px;
}
