.container {
  width: 100%;
  height: 80px;
  box-shadow: 0px 0px 7px 0px;
}
.nav_item {
  width: 150px;
  height: 80px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_item:hover {
  text-decoration: none;
  background-color: #e4e4e4;
  color: black;
}
.active_item {
  border-bottom: 2px solid black;
}
.logOut {
  font-size: 18px;
  width: 150px;
  height: 80px;
  background: unset;
  border: none;
}
.logOut:hover {
  background-color: #e4e4e4;
}
.logOut:focus {
  outline: 0;
}
