.container {
  width: 100%;
  height: 200px;
  /* border: 1px solid black; */
  margin-bottom: 20px;
  box-shadow: 0px 0px 6px -2px;
}
.img {
  height: 200px;
}
.seconPart {
  width: calc(100% - 340px);
}
.title {
  font-size: 24px;
  font-weight: 600;
}
.category {
  font-size: 20px;
  font-weight: 600;
  color: #8a8a8a;
}
.names {
  height: 153px;
}
