.container {
  width: 100%;
  min-height: 810px;
  height: 100%;
}
.contnet {
  min-height: 810px;
  height: 100%;
}
.img {
  width: 400px;
}
.title {
  font-size: 24px;
  font-weight: 600;
  margin: 0px 10px;
}
.author {
  margin-top: 20px;
}
.main_text {
  margin-top: 50px;
  color: #707070;
}
.submit {
  background: #7ed000;
  color: white;
}
.addComments {
  margin-top: 20px;
}
.addComments textarea {
  background: #f6f6f6;
}
.comments {
  margin-top: 20px;
}
.oneComment {
  width: 100%;
  min-height: 70px;
  background: #f6f6f6;
  margin-bottom: 10px;
}
.commentAuthor {
  width: 30%;
  font-weight: 600;
}
.commentValue {
  width: 70%;
}
.commentsHeader {
  margin-bottom: 10px;
}
